mobile_owner/.gradle/8.14.3/gc.properties
mobile_owner/.gradle/8.14.3/checksums/checksums.lock
mobile_owner/.gradle/8.14.3/fileChanges/last-build.bin
mobile_owner/.gradle/8.14.3/fileHashes/fileHashes.lock
mobile_owner/.gradle/buildOutputCleanup/buildOutputCleanup.lock
mobile_owner/.gradle/buildOutputCleanup/cache.properties
mobile_owner/.gradle/vcs-1/gc.properties
mobile_owner/build/reports/problems/problems-report.html
