Django==4.2.29
djangorestframework==3.16.1
django-cors-headers==4.9.0
djangorestframework_simplejwt==5.5.1
pillow==11.2.1
psycopg2-binary==2.9.11
gunicorn==21.2.0
python-dotenv==1.1.0
adrf==0.1.12
uvicorn[standard]==0.39.0
httpx==0.28.1
requests==2.32.3
django-redis==5.4.0
redis==5.2.1
argon2-cffi==23.1.0
