asgiref==3.11.1
Django==4.2.29
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
psycopg2-binary==2.9.11
PyJWT==2.12.1
sqlparse==0.5.3
typing_extensions==4.15.0
requests==2.32.3
argon2-cffi==23.1.0
django-redis==5.4.0
redis==5.2.1

pip
cffi>=1.17.1
argon2-cffi-bindings>=21.2.0
certifi
typing_extensions>=4.12.0
urllib3
idna
charset-normalizer
pycparser>=2.22
adrf
httpx
Pillow>=10.0.0